In [1]:
import pandas as pd

# Introduction

We're ultimately going to make the `patients_ml_table` used in the Machine Learning exercises Chapter. The structure of this table is as follows:

In [4]:
patients_ml_table = pd.read_csv('../create-project-tables/patients_ml_table.csv')
patients_ml_table.head()

   age  num_dx  visit_minutes visit_class
0   49       4             27       short
1   51       5             27       short
2   47       5             30       short
3   49       3             28       short
4   53       5             28       short